#banner{
  background-image: url('../../dist/images/pets.jpg');
  width: 100vw;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message{
  background-color: rgba(0,0,0,0.1);
  width: 20%;
  align-self: center;
  text-align: center;
}
