.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-bottom: 0;
  padding: 0 50px;
  min-width: 20%;
}

.nav-section:nth-child(2) {
  justify-self: start;
}

.nav-section:nth-child(2) {
  width: 40%;
}

.nav-item a{
  text-decoration: none;
  color: var(--navbar-text)
}

#navbar {
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--navbar-text);
  font-family: var(--nav-font);
  height: 50px;
  text-transform: uppercase;
  background-color: var(--nav-background);
  font-weight: 500;
}
