.section {
  padding: 100px;
}

.section-head {
  text-align: center;
}

.step-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(100, 100, 100, 0.2);
  height: 200px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.step-container li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 20%;
  height: 100%;
  background-color: var(--section-border-light);
  padding: 5%;
}


.steps-par {
  display: flex;
  align-items: center;
  padding: 0 100px;
  height: 100%;
  margin: 0;
  border-left: 3px solid var(--section-border);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}

.adoption-tag-line {
  text-align: center;
  margin-top: 15px;
}

.adoption-icon {
  width: 50px;
}

.section-p {
  text-align: center;
}

#adoption-process-steps {
  margin: 0 auto;
  width: 80%;
}

#about{
  background-color: var(--section-border-light);
  color: var(--section-border);
  height: 100vh;
}

#contact{
  height: 100vh;
}


