@import 'navbar.css';
@import 'banner.css';
@import 'section.css';
@import 'form.css';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

:root {
  box-sizing: border-box;
  /*  variables  */
  /* colors */
  /* --background: rgba(243, 117, 43, 0.2); */
  /* navbar */
  --navbar-text: #000;
   /* fonts */
  --main-font: 'Raleway',
    sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#content {
  font-family: var(--main-font);
  background-color: var(--background);
}
