@import 'navbar.css';
@import 'banner.css';

:root {
  box-sizing: border-box;
  /*  variables  */
  /* colors */
  --background: #FFF;
  /* navbar */
  --navbar-text: #000;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#content {
  height: 100%;
  background-color: var(--background);
}
